.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
@media screen and (max-width: 1200px) {
    .card-container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 2rem;
    }
  }
  
  @media screen and (max-width: 768px)
  {
    .card-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
  }